name: C Build and Test

on:
  pull_request:
  push:
    branch: main

env:
  BUILD_TYPE: debug
  CC: gcc-14

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    container:
      image: koutoftimer/oduortoni-c-http-server-actions:latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Auto-format code
      run: |
        git config --global --add safe.directory $PWD
        pre-commit run --all-files || true
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add -A
        git diff --staged --quiet || git commit -m "style: auto-format code with clang-format"

    - name: Build C code
      run: |
        make compile_templates
        make bin/server

    - name: Run tests
      run: |
        make test
        ./tests/integration-tests.sh
