name: C Build and Test

on:
  pull_request:
  push:
    branch: main

env:
  BUILD_TYPE: debug
  CC: gcc-14

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    container:
      image: koutoftimer/oduortoni-c-http-server-actions:latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4 # Action to clone your repository's code

    - name: Build C code
      run: |
        make bin/thc
        make compile_templates
        make bin/server

    - name: Run tests
      run: |
        make test  # unit tests
        ./tests/integration-tests.sh
