name: C Build and Test

on:
  pull_request:
  push:
    branch: main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    container:
      image: koutoftimer/oduortoni-c-http-server-actions:latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4 # Action to clone your repository's code

    - name: Build C code
      run: |
        make bin/server CC=gcc-14 BUILD_TYPE=debug

    - name: Run tests
      run: |
        make BUILD_TYPE=debug test    # unit tests
        ./tests/integration-tests.sh
