name: C Build and Test

on:
  pull_request:
  push:
    branch: main

jobs:
  build-and-test:
    runs-on: ubuntu-latest # GitHub-hosted runner with Ubuntu

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4 # Action to clone your repository's code

    - name: Test presense of apt-add-repository
      run: |
        sudo apt-add-repository ppa:lepapareil/hurl
        sudo apt update
        # apt install -y hurl

    - name: Install dependencies
      uses: awalsh128/cache-apt-pkgs-action@master
      id: cache-apt
      with:
        packages: build-essential curl gcc-14 hurl
        version: 1.0
        add-repository: ppa:lepapareil/hurl

    - name: Build C code
      run: |
        make bin/server CC=gcc-14 BUILD_TYPE=debug

    - name: Run tests
      run: |
        ./tests/integration-tests.sh
