name: Enforce C Code Style

on:
  pull_request:
  push:
    branch: main

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    container:
      image: koutoftimer/oduortoni-c-http-server-actions:latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Ceck all files
      run: |
        git config --global --add safe.directory $PWD
        pre-commit run --all-files
